@page "/ledger"
@rendermode InteractiveServer
@using Microsoft.AspNetCore.Components.QuickGrid

<h3>Ledger</h3>

<QuickGrid Items="@entries" AllowSorting="true">
    <PropertyColumn Property="@(e => e.Amount)" Sortable="true" />
    <PropertyColumn Property="@(e => e.Category)" Sortable="true" />
    <PropertyColumn Property="@(e => e.Description)" Sortable="true" />
    <PropertyColumn Property="@(e => e.DateOfEntry)" Sortable="true" />
</QuickGrid>

@code {
    private int clickCount = 0;

    public IQueryable<Entry> entries = new List<Entry>
    {
        new Entry(20, "Deposit", "Check from Grandma", new DateTime(2025, 9, 16)),    
        new Entry(-11.32, "Entertainment", "Starbucks", new DateTime(2025, 9, 17)),    
        new Entry(-125.75, "Bill", "Internet", new DateTime(2025, 10, 1))    
    }.AsQueryable();


    public class Entry
    {
        public Entry()
        {
        }

        public Entry(Double amount, string category, string description, DateTime dateOfEntry)
        {
            this.Amount = amount;
            this.Category = category;
            this.Description = description;
            this.DateOfEntry = dateOfEntry;
        }

        public Double Amount { get; set; } = 0.00;
        public string Category { get; set; } = "";
        public string Description { get; set; } = "";
        public DateTime DateOfEntry { get; set; } = DateTime.MinValue;
    }
}
